
* { /* звёздочка означает, что это относится ко всем элементам на странице */
    box-sizing: border-box;  /* отвечает за правильное отображение свойств Ш и В всех элементов с учётом margin и padding */
    margin: 0; /* (m0+tab) чтобы все элементы сбросили свои значения по-умолчанию  */
    padding: 0; /* (p0+tab) чтобы все элементы сбросили свои значения по-умолчанию */
}

html {
    font-family: 'Roboto', sans-serif; /* весь текст, где специально не указан другой шрифт будет иметь такой шрифт */
}
    